
<div class="container container-flud">

    <header class="login-header">
        
        <div class="row flex-nowrap align-items-center">
            <div class="col-md-3 col-sm-3 pt-5">
                <img src="/assets/images/logo-kimer.png" class="imagenLogo" />
            </div>
            <div class="col-md-1 col-sm-2 pt-5">
                <div class="vertical-line"><br></div>
            </div>
            <div class="col-md-8 col-sm-7 pt-5 header-title">
              PLATAFORMA DE PAGOS ONLINE
            </div>
           
          </div>
    
    </header>

    <router-outlet></router-outlet>
    
</div>
