<section id="portfolio" style="padding: 75px 0px;">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: #a95be0;font-size: 26px; margin-bottom:20px;">Cita reservada!</h2>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit" style="background-color: #966de4;font-weight: normal;">Pagar después</button>
                    <button class="btn btn-primary" type="submit" style="background-color: #966de4;font-weight: normal;">Pagar ahora</button>
                </div>
            </div>
        </div>
    </div>
</section>