
<div class="row">
    <div class="col-xl-3 col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
    
    <!-- LOGIN STANDARD -->
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-10 col-xs-10">
      <form class="form-login" >
        
        <h1 class="h3 mb-3 font-weight-normal text-center login-title1">Ingrese documento de identidad y contraseña</h1>
  
        <div class="row flex-nowrap align-items-center">
          <div class="col-md-3 col-sm-1 row-icon-right">
            <img class="icono-login" src="assets/images/icono_psw.png" />
          </div>
          <div class="col-md-6 col-sm-10">
            <div class="form-group">
              <input type="email" formControlName="username" class="form-control input-user" placeholder="Documento de identidad"
              autocomplete="off" autofocus>              
            </div>
          </div>
          <div class="col-md-3 col-sm-1">
          </div>
        </div>
  
        <div class="row flex-nowrap align-items-center">
          <div class="col-md-3 col-sm-1 row-icon-right">
            <img class="icono-login" src="assets/images/icono_psw.png" />
          </div>
          <div class="col-md-6 col-sm-10">
            <input type="password" formControlName="password" class="form-control input-user" autocomplete="off"
            placeholder="Contraseña" required>            
          </div>
          <div class="col-md-3 col-sm-1">
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6 text-center text-login-forgot-pass">
            <a role="button" style="cursor: pointer;">¿Olvidaste tu contraseña?</a>
          </div>
          <div class="col-md-3">
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-5 text-center">
            <button class="btn btn-primary" class="btn btn-primary form-control btnSubmit">              
              INGRESAR
            </button>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        
        
        <p class="titlefooter text-center">Tiempos estimados de espera: BCP, Interbank y BBVA: 20 minutos | Interbancario: 48 horas del día útil</p>
        <p class="footer-code-center">Versión 1.03</p>      
      </form>
  
  
    </div>
    <!-- END LOGIN STANDARD -->
  
    <!-- RECOVER YOUR PASSW -->
      <div class="col-xl-6 col-lg-8 col-md-10 col-sm-10 col-xs-10" >
        <form class="form-login">
          
          <h1 class="h3 mb-3 font-weight-normal text-center login-title1">Recuperar Contraseña</h1>
    
          <div class="row">
            <p class="titlecenter text-center" style="padding-left: 10px; padding-right: 10px;">Ingresa tu número de DNI y correo electrónico registrado</p>
          </div>
  
          <div class="row flex-nowrap align-items-center">
            <div class="col-md-3 col-sm-1 row-icon-right">
              <img class="icono-login" src="assets/images/masteraccount.png" />
            </div>
            <div class="col-md-6 col-sm-10">
              <div class="form-group">
                <input type="email" formControlName="documentNumber" class="form-control input-user" placeholder="Documento de identidad"
                autocomplete="off" autofocus>                
              </div>
            </div>
            <div class="col-md-3 col-sm-1">
            </div>
          </div>
    
          <div class="row flex-nowrap align-items-center">
            <div class="col-md-3 col-sm-1 row-icon-right">
              <img class="icono-email" src="assets/images/email.png" />
            </div>
            <div class="col-md-6 col-sm-10">
              <input formControlName="email" class="form-control input-user" autocomplete="off" 
              placeholder="Correo electrónico" required>              
            </div>
            <div class="col-md-3 col-sm-1">
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
              
            </div>
            <div class="col-md-3">
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-5 text-center">
              <button class="btn btn-primary" class="btn btn-primary form-control btnSubmit">
                <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                Enviar Contrase&ntilde;a
              </button>
            </div>
            <div class="col-md-4">
            </div>
          </div>
          
          
          <p class="titlefooter text-center">Tiempos estimados de espera: BCP, Interbank y BBVA: 20 minutos | Interbancario: 48 horas del día útil</p>
          <p class="footer-code-center">Versión 1.03</p>      
        </form>
    
    
      </div>
    <!-- END LOGIN STANDARD -->
  
    <div class="col-xl-3 col-lg-2 col-md-1 col-sm-1 col-xs-1">
      
    </div>
    
  </div>
  