option{
    color:rgba(51, 47, 47, 0.568)
}
input
{
    border-color: rgba(73, 14, 97, 0.377);
    border-radius: 5px;
    border-style:ridge;
    background-color: rgba(255, 255, 255, 1) ;
    border-width: 1px;
    padding-left: 5px;

}
select
{
    border-color: rgba(73, 14, 97, 0.377);
    border-radius: 5px;
    border-style:ridge;
    background-color: rgba(255, 255, 255, 1) ;
     border-width: 1px;
     width: 90px; 
     height: 30px; 
     color:rgba(51, 47, 47, 0.8)

}
::placeholder{
    font-size: small;
    color: rgba(51, 47, 47, 0.493);
}