
<section id="portfolio" style="padding: 75px 0px;">
    <div class="container" style="margin-top: 60px;">
        <div  class="col-3" class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;">Historia de Citas Médicas</h2>
                <p></p>
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                       
                </div>
                <div class="row">
                    <div class="input-group">
                        
                            <input class="form-control border-end-0 border rounded-pill" type="search" value="Buscar..." id="example-search-input">
                            <span class="input-group-append">

                            <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        
                    </div>
                </div>
                <div  class="table-responsive table-striped" style="border-radius: 10px;">
                    <table class="table" style="margin:0px;">
                        <thead style="background-color: rgba(52,58,64,0.75);color: #ffffff;">
                            <tr >
                                <th class="align-middle">Sede </th>
                                <th class="align-middle">Especialidad</th>
                                <th class="align-middle">Fecha/Hora</th>  
                                <th class="align-middle">Médico</th>                              
                                <th class="align-middle">Consultorio</th>
                                
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td class="align-middle">SURCO</td>
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                            </tr>
                                   
                              
                                    <tr *ngFor="let item of historial; let i = index">

                                        <td ><h6> {{item.reg +1}} </h6> </td>
                                        <td ><h6>{{item.especialidad}}</h6> </td>
                                        <td >{{item.fechahora}}</td>
                                        <td > <h6>{{item.medico}}</h6> </td>
                                        <td >{{item.consultorio}}</td>

                                    </tr>

                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    </div>
</section>