<section id="portfolio" style="padding: 75px 0px;">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 35%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: #a95be0;font-size: 26px; margin-bottom:20px;">Resumen de tu cita</h2>
                <!-- <p class="h4 row justify-content-center">Datos de la cita</p> -->

                <ul class="list-unstyled">
                    <li class="font-weight-light">Especialidad:</li>
                    <a class="nav-link text-black nav-item py-2 py-sm-10">
                        <i class="bi bi-clipboard2-pulse"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Cardiología</span>
                    </a>
                    <li class="font-weight-light">Médico:</li>
                    <a class="nav-link text-black nav-item py-2 py-sm-10">
                        <i class="bi bi-person"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Angelica María Martinez Riofrio</span>
                    </a>
                    <li class="font-weight-light">Sede:</li>
                    <a class="nav-link text-black nav-item py-2 py-sm-10">
                        <i class="bi bi-geo-alt"></i><span class="fs-6 ms-3 d-noned d-sm-inline">San Pablo Asia</span>
                    </a>
                    <li class="font-weight-light">Fecha:</li>
                    <a class="nav-link text-black nav-item py-2 py-sm-10">
                        <i class="bi bi-calendar-check"></i><span class="fs-6 ms-3 d-noned d-sm-inline">19 Mayo del 2024</span>
                    </a>
                    <li class="font-weight-light">Hora:</li>
                    <a class="nav-link text-black nav-item py-2 py-sm-10">
                        <i class="bi bi-clock"></i><span class="fs-6 ms-3 d-noned d-sm-inline">10:00 am</span>
                    </a>
                    <li class="font-weight-light">Consultorio:</li>
                    <a class="nav-link text-black nav-item py-2 py-sm-10">
                        <i class="bi bi-door-closed"></i><span class="fs-6 ms-3 d-noned d-sm-inline">A10-031</span>
                    </a>
                </ul>

            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit" style="background-color: #966de4;font-weight: normal;">Agendar cita</button>
            </div>
        </div>
    </div>
</div>
</section>